:root {
  --primary-text-color: #212121;
  --secondary-text-color: #000000;
  --accent-text-color: #2196f3;
  --light-theme-text: #757575;
  --dark-theme-text: #ffffff;
  --primary-backdround-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-background-color: #2196f3;
  --subtle-background-color: #f5f4fa;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --form-input-border-color: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-backdround-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 48, 0.4)), url(../imagies/Hero/Background.png);
  background-color: #c4c4c4;
  text-align: center;
  background-size: cover;
}

.hero-title {
  color: var(--dark-theme-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  color: var(--dark-theme-text);
  background-color: var(--accent-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 550ms var(--cubic-bezier);
}
.hero-button:hover, .hero-button:focus, .hero-button:active {
  background-color: #188ce8;
}

.our-advantages-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.our-advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-advantages-icon-item {
  width: 270px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our-advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-advantages-text {
  color: var(--light-theme-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-advantages-item:not(:last-child) {
  margin-right: 30px;
}

.our-advantages-icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.our-advantages-icon-item {
  width: 270px;
  background-color: var(--subtle-background-color);
  border-radius: 4px;
}

.our-work {
  padding-bottom: 94px;
}

.our-work-container {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-work-list-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.our-work-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our-work-overlay {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.our-team {
  background-color: var(--subtle-background-color);
}

.our-team__main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-list__item {
  background-color: var(--primary-backdround-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team-container {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.our-team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.our-team-card__text {
  color: var(--light-theme-text);
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.social-team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);
}

.our-team-social-list__link {
  background-color: var(--dark-theme-text);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--cubic-bezier);
}
.our-team-social-list__link:hover, .our-team-social-list__link:focus {
  background-color: var(--accent-text-color);
}
.our-team-social-list__link:hover .our-team-social-list__icon, .our-team-social-list__link:focus .our-team-social-list__icon {
  fill: var(--dark-theme-text);
}

.our-team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.regular-customers-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  justify-content: space-between;
}

.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}

.regular-customer-container:not(:last-child) {
  margin-right: 30px;
}

.customer {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);
}

.regular-customer-item {
  width: 170px;
  height: 92px;
}

.regular-customer-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border-color 250ms var(--cubic-bezier);
}
.regular-customer-link:hover, .regular-customer-link:focus {
  border-color: var(--accent-text-color);
}
.regular-customer-link:hover .customer, .regular-customer-link:focus .customer {
  fill: var(--accent-text-color);
}

.regular-customer-link:hover .customer,
.regular-customer-link:focus .customer {
  fill: var(--accent-text-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  color: var(--dark-theme-text);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.footer-contac-list__item {
  display: block;
}
.footer-contac-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--dark-theme-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address:hover, .footer-address:focus {
  color: var(--accent-text-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-bezier);
}
.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-text-color);
}

.footer-social-list__title {
  color: var(--dark-theme-text);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-social-icon__svg {
  fill: var(--dark-theme-text);
}

.footer-social-list {
  margin-right: 94px;
}

.footer-social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-text-color);
}
.footer-social-list__link:hover .social-icon, .footer-social-list__link:focus .social-icon {
  fill: var(--dark-theme-text);
}

.footer-social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-contacts-container {
  margin-right: 70px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-subtitle {
  color: var(--dark-theme-text);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-form__subscribtion-email {
  color: var(--dark-theme-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
  width: 385px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  outline: none;
}
.footer-form__subscribtion-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.footer-form__subscribtion-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.footer-form__subscribtion-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.footer-form__submit-btn {
  font-family: inherit;
  color: var(--dark-theme-text);
  background-color: var(--accent-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.footer-form-submit-btn__icon {
  margin-left: 10px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-button {
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--subtle-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.portfolio-button:hover, .portfolio-button:focus, .portfolio-button:active {
  color: var(--dark-theme-text);
  background-color: var(--accent-background-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card-wraper {
  position: relative;
  display: block;
  overflow: hidden;
}

.overlay {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  overflow-y: scroll;
  transition: transform 250ms var(--cubic-bezier);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-card-link-wraper {
  display: block;
  text-decoration: none;
}
.portfolio-card-link-wraper:hover, .portfolio-card-link-wraper:focus {
  width: 370px;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06);
}
.portfolio-card-link-wraper:hover .overlay, .portfolio-card-link-wraper:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-card-item {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio-text {
  color: var(--light-theme-text);
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--primary-backdround-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-close-button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-close-button:hover .modal-close-button-icon, .modal-close-button:focus .modal-close-button-icon {
  fill: var(--accent-background-color);
}

.modal-close-button-icon {
  transition: fill 250ms var(--cubic-bezier);
}

.modal-form-subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-input-border-color);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  color: var(--primary-text-color);
  transition: border-color 250ms var(--cubic-bezier);
}
.modal-form-input:focus {
  border-color: var(--accent-background-color);
  outline: none;
}

.modal-form-icon {
  fill: var(--primary-text-color);
  transition: fill 250ms var(--cubic-bezier);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-background-color);
}

.modal-form-input-des {
  color: var(--light-theme-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--form-input-border-color);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: border-color 250ms var(--cubic-bezier);
}
.modal-form-message:focus {
  border-color: var(--accent-background-color);
  outline: none;
}
.modal-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}

.modal-form-checkbox {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-form-checkbox::before {
  content: "";
  display: block;
  border: 2px solid var(--primary-text-color);
  width: 15px;
  height: 16px;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--cubic-bezier), border-color 250ms var(--cubic-bezier);
}
.modal-form-check:checked + .modal-form-checkbox::before {
  background-color: var(--accent-background-color);
  background-image: url(../imagies/svg/modal-check-mark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
.modal-form-check:focus + .modal-form-checkbox::before {
  border: 2px solid var(--primary-text-color);
}

.modal-form-terms {
  text-decoration: none;
}

.modal-form-submit {
  align-self: center;
  font-family: inherit;
  color: var(--dark-theme-text);
  background-color: var(--accent-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 550ms var(--cubic-bezier);
}
.modal-form-submit:hover, .modal-form-submit:focus, .modal-form-submit:active {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */