@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--primary-backdround-color);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .mobile-menu-open:hover,
  .mobile-menu-open:focus {
    fill: var(--accent-background-color);
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon:hover,
  .mobile-menu__close-icon:focus {
    fill: var(--accent-background-color);
  }

  .mobil-menu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu__page-nav {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu__menu {
    background-color: var(--secondary-backdround-color);
  }

  .mobile-menu__menu-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__menu-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms var(--cubic-bezier);
    position: relative;

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  .mobile-menu__header-contacts {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu__menu-phone {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 9.01vw;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic-bezier);
    margin-bottom: 32px;
  }

  .mobile-menu__menu-email {
    color: var(--light-theme-text);
    font-weight: 500;
    font-size: 6.01vw;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic-bezier);
    margin-bottom: 64px;

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  .mobile-menu__header-contacts {
    display: flex;
  }

  .mobile-menu__header-contacts-item:not(:last-child) {
    margin-right: 50px;
  }

  .mobile-menu__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile-menu__social-item {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-right: 10px;
  }
  .mobile-menu__social-item:not(:last-child)::after {
    content: "";
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
  }

  .current {
    color: var(--accent-text-color);
    transition: color 250ms var(--cubic-bezier);

    // &::after {
    //   content: "";
    //   width: 100%;
    //   display: block;
    //   height: 4px;
    //   background-color: var(--accent-text-color);
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   border-radius: 2px;
    // }
  }
}
