.our-work {
    padding-bottom: 94px;
}

.our-work-container {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.our-work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-work-list-item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.our-work-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.our-work-overlay {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}