.our-team {
    background-color: var(--subtle-background-color);
}

.our-team__main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.our-team-list__item {
    background-color: var(--primary-backdround-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-team-container {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.our-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}


.our-team-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.our-team-card__text {
    color: var(--light-theme-text);
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.social-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team-social-list__icon {
    fill: #afb1b8;
    transition: fill 250ms var(--cubic-bezier);
}

.our-team-social-list__link {
    background-color: var(--dark-theme-text);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
    }
    
    &:hover .our-team-social-list__icon,
    &:focus .our-team-social-list__icon {
        fill: var(--dark-theme-text);}}

.our-team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

