:root {
    --primary-text-color: #212121;
    --secondary-text-color: #000000;
    --accent-text-color: #2196f3;
    --light-theme-text: #757575;
    --dark-theme-text: #ffffff;
    --primary-backdround-color: #ffffff;
    --secondary-background-color: #2f303a;
    --accent-background-color: #2196f3;
    --subtle-background-color: #f5f4fa;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --form-input-border-color: rgba(33, 33, 33, 0.2);
}